/.sconsign.dblite
*.o
/test
/eserv

# analyze
*.gcno
*.gcda
/junit.report
/cppcheck.report
/coverage.report

# creator project files
/.qtc_clangd
/*.cflags
/*.config
/*.creator
/*.creator.user
/*.cxxflags
/*.files
/*.includes

